html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  color: #ffffff;
  background: #f15b22;
  border: 0;
  border-radius: 5px;
  padding: 20px 25px;
}
.btn-secondary {
  color: #f15b22;
  background: #ffffff;
  padding: 20px 35px;
}
/* header styles */
.header {
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.banner {
  padding: 216px 230px 166px 845px;
  text-align: right;
  width: 525px;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  text-align: right;
  color: #151414;
  margin-bottom: 24px;
}
.banner-description {
  font-weight: 400;
  text-align: right;
  color: #444343;
  margin-bottom: 32px;
}

/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* summary section styles */
.failure-container {
  display: flex;
  gap: 87px;
  align-items: center;
  margin-bottom: 130px;
}
.failure-image {
  height: 724px;
  width: 570px;
}
.summary {
  text-align: left;
  width: 416px;
}
.section-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}
.section-content {
  color: #444343;
  margin-bottom: 16px;
}
.summary-ul {
  list-style: none;
  padding-left: 0;
}
ul li:before {
  content: "✓";
  color: rgb(8, 247, 28);
  padding-right: 10px;
}
.summary-li {
  margin-bottom: 10px;
}

/* success section styles */
.success-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 130px;
  padding-left: 10px;
}
.success-image {
  padding-top: 40px;
  height: 500px;
  width: 300px;
}

/* plans section styles */
.plans {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 135px;
}
.plans-skill-conatiner {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
.skill-title {
  font-weight: 700;
  font-size: 30px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.skill-description {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}

/* call now section styles */
.call-now {
  padding: 60px 64px;
  border-radius: 5px;
  background-image: linear-gradient(
      90deg,
      rgb(241, 91, 34),
      rgb(255, 255, 255, 0.1)
    ),
    url("../images/watch.png");
  background-repeat: no-repeat;
  background-size: 100% 90%, 100%;
  /* background-image: url("../images/gradient3.png"), url("../images/watch.png");
  background-repeat: no-repeat; */
}
.call-now-content {
  width: 460px;
}
.call-now-title {
  color: #ffffff;
}

/* footer styles */
.footer {
  display: flex;
  gap: 330px;
  padding: 150px 230px 110px 230px;
  background: #151414;
  margin-top: 110px;
}
.footer-title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 16px;
}
.footer-content {
  color: #ffffff;
  margin-bottom: 16px;
}
.social-media {
  margin-top: 16px;
}
.social-media-content {
  margin-right: 16px;
}
.subscribe-label {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 31px;
}
input[type="email"] {
  font-size: 18px;
  padding: 18px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background: #151414;
  margin-bottom: 16px;
}
